.change-alert-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1e1e1f50;
  z-index: 30;
}

.container-alert{
  position: fixed;
  bottom: -10px;
  left: -10px;
  right: -10px;
  padding: 34px;
  background-color: #1e1e1f;
  color: #f2f4f5;
  z-index: 30;
  text-align: center;
  font-size: 20px;
}

.container-alert p {
  font-size: 24px;
}

.container-alert button {
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 8px;
  border: none;
}

.container-alert button:hover{
  background-color:#0575E6;
  color: #f2f4f5;
}

