.image-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title-image{
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  left: 0;
  right: 0;
}

.title {
  font-size: 38px;
  font-family: 'Kalam';
}

figure .img-person{
  position: relative;
  width: 100%;
  height: 750px;
  border-radius: 10px;
}

.create-arrow{
  position: fixed;
  right: 60px;
  bottom: 90px;
  width: 190px;
  height: 195px;
}

@media screen and (max-width: 1024px) {
  .img-title{
    position: absolute;
    top: -78px;
    text-align: center;
  }

  figure {
    width: 100%;
  }

  .create-arrow{
    position: fixed;
    right: 60px;
    bottom: 90px;
    width: 150px;
    height: 150px;
}
}


@media (max-width: 648px) {
  .image-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }

  .title-image{
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
  }

  figure{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .title{
    font-size: 20px;
    font-family: 'Kalam';
  }

  figure .img-person {
    position: relative;
    width: 285px;
    height: 100%;
    border-radius: 10px;
  }

  .create-arrow{
    position: fixed;
    right: 60px;
    bottom: 90px;
    width: 85px;
    height: 85px;
  }
}